<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Nome:</strong>
  <%= @tipo_evento.Nome %>
</p>

<%= link_to 'Edit', edit_tipo_evento_path(@tipo_evento) %> |
<%= link_to 'Back', tipo_eventos_path %>
